@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.text-preset-1 {
  font-size: clamp(2.5rem, 8vw, 3.5rem);
  font-weight: 700;
  line-height: 100%;
}

.text-preset-2-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: Slh-150;
}

.text-preset-2-regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.text-preset-3 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #36384d;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  min-height: 100vh;
}
@media only screen and (width >= 600px) {
  body {
    display: grid;
    place-items: center;
    padding-block: 2.5rem;
  }
}
@media only screen and (width >= 992px) {
  body {
    padding-block: unset;
  }
}
body .container {
  background: #ffffff;
  min-height: 100vh;
}
@media only screen and (width >= 600px) {
  body .container {
    min-height: unset;
    padding: 2.5rem !important;
    min-height: 678px;
    border-radius: 2rem;
  }
}
@media only screen and (width >= 992px) {
  body .container {
    max-width: 992px !important;
  }
}
body .container .img-mobile-wrapper .img-mobile {
  width: clamp(375px, 70vw, 528px);
}
@media only screen and (width >= 600px) {
  body .container .img-mobile-wrapper .img-mobile {
    border-radius: 1.5rem;
  }
}
@media only screen and (width >= 992px) {
  body .container form {
    padding-right: 4rem !important;
  }
}
body .container form ul {
  padding: unset;
}
body .container form ul li {
  list-style: none;
  display: flex;
  gap: 1rem;
}
body .container form ul li:before {
  content: url("../assets/images/icon-list.svg");
}
body .container form label .error-text {
  color: #ff6155;
}
body .container form input {
  border: 1px solid #949494;
  outline: none !important;
}
body .container form input::placeholder {
  color: #949494;
}
body .container form input:focus {
  border: 1px solid #242742;
  outline: none !important;
}
body .container form input.error {
  color: #ff6155;
  border: 1px solid #ff6155 !important;
  background: rgba(255, 97, 85, 0.2666666667) !important;
}
body .container .btn {
  width: 100%;
  border: none;
  outline: none;
  background: #242742 !important;
  color: #ffffff;
  padding-block: 1rem;
}
body .container .btn:hover {
  background: #36384d;
  color: #ffffff;
}
body .container .btn:focus, body .container .btn:active {
  background: linear-gradient(to right, #ff6a3a, #ff527b) !important;
  color: #ffffff !important;
  box-shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.5019607843) !important;
}
body .container .modal {
  background: #242742 !important;
  min-width: 100vw !important;
  min-height: 100vh !important;
}
body .container .modal .modal-dialog {
  padding: 0 !important;
  margin: 0 !important;
}
body .container .modal .modal-dialog .modal-content {
  background: #ffffff;
  padding: 6.5rem 1.5rem 1.5rem;
  position: relative;
  border-radius: unset;
  height: 100vh;
}
body .container .modal .modal-dialog .modal-content img.success-icon {
  min-width: 4rem;
  min-height: 4rem;
}
@media screen and (width >= 600px) {
  body .container .modal .modal-dialog {
    margin: auto !important;
    display: flex;
    align-items: center;
    height: 100% !important;
  }
  body .container .modal .modal-content {
    padding: 2.5rem 2rem 3rem !important;
    border-radius: 2rem !important;
    width: 504px !important;
    height: 520px !important;
  }
}

/*# sourceMappingURL=output.css.map */
