// Text Presets
.text-preset-1 {
  font-size: clamp($fs-40, 8vw, $fs-56); // 40px on small screens, 56px on large screens
  font-weight: $fw-700;
  line-height: $lh-100;
}

.text-preset-2-bold {
  font-size: $fs-16;
  font-weight: $fw-700;
  line-height: Slh-150;
}

.text-preset-2-regular {
  font-size: $fs-16;
  font-weight: $fw-400;
  line-height: $lh-150;
}

.text-preset-3 {
  font-size: $fs-12;
  font-weight: $fw-700;
  line-height: $lh-150;
}