//reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $roboto;
  background: $blue-700;

  .container{
    background: $white;

    .img-mobile {
      width: clamp(375px, 70vw, 528px); // 375px on small screens, 528px on tablet screens
    }

    ul{
      padding: unset;
      li{
        list-style: none;
        display: flex;
        gap: $spacing-200;

        &:before{
          content: url("../assets/images/icon-list.svg");

        }
      }
    }
  }
}
