  //font-family
  $roboto: 'Roboto', sans-serif;

  //font-size
  $fs-12: .75rem; // 12px
  $fs-16: 1rem; // base font size 16px
  $fs-40: 2.5rem; // 40px
  $fs-56: 3.5rem; // 56px

  //font-weight
  $fw-400: 400; // regular
  $fw-700: 700; // bold

  //line-height
  $lh-100: 100%; // 100% line height
  $lh-150: 150%; // 150% line height

  //colors
  $white: #ffffff;
  $grey: #949494;
  $blue-700: #36384d;
  $blue-800: #242742;
  $red: #ff6155;
  $gradient: linear-gradient(to right, #ff6a3a, #ff527b);

  //spacing
  $spacing-100: .5rem; // 8px
  $spacing-200: 1rem; // 16px
  $spacing-300: 1.5rem; // 24px
  $spacing-400: 2rem; // 32px
  $spacing-500: 2.5rem; // 40px
  $spacing-600: 3rem; // 48px
  $spacing-800: 4rem; // 64px
  $spacing-900: 4.5rem; // 72px
  $spacing-1300: 6.5rem; // 104px 