:root{
  //font-family
  --bs-roboto-regular: 'roboto-regular', sans-serif !important;
  --bs-roboto-bold: 'roboto-bold', sans-serif !important;

  //font-size
  ..fs-12: 12px !important; // 12px
  --fs-16: 1rem; // base font size 16px
  --fs-56: 3.5rem; // 56px
  --fs-88: 5.5rem; // 88px
  
  //font-weight
  --fw-400: 400; // regular
  --fw-700: 700; // bold
  
  //line-height
  --lh-100: 100%; // 100% line height
  --lh-150: 150%; // 150% line height
  
  //colors
  --white: #ffffff;
  --grey: #949494;
  --blue-700: #36384d;
  --blue-800: #242742;
  --red: #ff6155;
  --gradient: linear-gradient(to right, #ff6a3a, #ff527b);
  
  //spacing
  --spacing-100: .5rem; // 8px
  --spacing-200: 1rem; // 16px
  --spacing-300: 1.5rem; // 24px
  --spacing-400: 2rem; // 32px
  --spacing-500: 2.5rem; // 40px
  --spacing-600: 3rem; // 48px
  --spacing-800: 4rem; // 64px
  --spacing-900: 4.5rem; // 72px
  --spacing-1300: 6.5rem; // 104px 
}

@font-face {
  font-family: roboto-regular;
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: roboto-bold;
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

// Text Presets
.text-preset-1{
  font-family: roboto-bold;
  font-size: clamp(3.5rem, 5vw, 5.5rem); // 56px on large screens, 88px on smaller screens
  /* font-weight: var(--fw-700); */
  line-height: var(--lh-100);
}

.text-preset-2-bold{
  /* font-family: var(--roboto-bold); */
  font-size: var(--fs-16);
  /* font-weight: var(--fw-700); */
  line-height: var(--lh-150);
}

.text-preset-2-regular{
  /* font-family: var(--roboto-regular); */
  font-size: var(--fs-16);
  /* font-weight: var(--fw-400); */
  line-height: var(--lh-150);
}

.text-preset-3{
  font-family: roboto-bold;
  font-size: var(--fs-12);
  /* font-weight: var(--fw-700); */
  line-height: var(--lh-150);
}

.img-mobile{
  width: clamp(375px, 70vw, 528px); // 375px on small screens, 528px on tablet screens
}
